@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --bg-color: #151516;
    --main-color: #1A86C9;
    --bright-color: #5BBCFC;
    --accent-color: #DE6449;
    --text-color: #FFFFF2;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

h1 {
    color: var(--bright-color);
}

.content {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

.post_title {
    font-size: 22px;
    color: var(--main-color)
}

.posts_div {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000000;
    transition: 0.3s;
}

.posts_div:hover {
    background-color: #28282a;
    transform: scale(1.02);
}

.profile_pic {
    border: 3px solid;
    border-color: var(--text-color);
    width: 120px;
    height: 120px;
    transform: rotate(-18deg);
    transition: 1s;
}

.profile_pic:active {
    transform: rotate(18deg);
}

.post_metadata {
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}


nav > li, a, button {
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px #000000;
}


.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}


a {
    color: var(--accent-color);
    transition: 0.3s;
}
.nav_links li a:hover {
    color: var(--main-color);
}

.contact_logo {
    width: 64px;
    height: 64px;
    transition: 1s;
}

.contact_logo:hover {
    transform: rotate(180deg);
}